<div data-hook="admin_handbag_form_fields" class="row">
  <div class="col-md-6">
    <%= hidden_field :handbag, :user_id %>
          <%= hidden_field_tag :customer_search,  nil, class: 'error-message' %>
      <%= render partial: "spree/admin/orders/customer_details/autocomplete", formats: :js %>
    <br>
    <%= f.field_container :work_type do %>
    <%= f.label :work_type %>
    <%= f.label :is_clean, class: ['checkbox-inline']%>
    <%= f.error_message_on :is_clean %>
    <%= f.check_box :is_clean %>
    
    <%= f.label :is_repair, class: ['checkbox-inline']%>
    <%= f.error_message_on :is_repair %>
    <%= f.check_box :is_repair%>
    
    <%= f.label :is_colour, class: ['checkbox-inline']%>
    <%= f.error_message_on :is_colour %>
    <%= f.check_box :is_colour %>
    <% end %>

    <br>
    
    <% if @readonly != false %>
    <%= f.field_container :stage, class: ['form-group'] do %>
      <%= f.label :stage %>
      <%= error_message_on :handbag, :stage %>
      <%= select(:handbag, :stage, [['Clean', 1], ['Repair', 2], ['Colour', 3], ['Quality Control', 4], ['Complete', 5], ['Limbo', 6]]) %>
    <% end %>
          <%= f.field_container :clean_by_date, class: ['form-group'] do %>
      <%= f.label :clean_by_date %>
      <%= f.text_field :clean_by_date, :class => 'datepicker form-control' %>      
      <%= error_message_on :handbag, :clean_by_date %>
    <% end %>
          <%= f.field_container :repair_by_date, class: ['form-group'] do %>
      <%= f.label :repair_by_date %>
      <%= f.text_field :repair_by_date, :class => 'datepicker form-control' %>      
      <%= error_message_on :handbag, :repair_by_date %>
    <% end %>
          <%= f.field_container :repair_by_date, class: ['form-group'] do %>
      <%= f.label :repair_by_date %>
      <%= f.text_field :repair_by_date, :class => 'datepicker form-control' %>      
      <%= error_message_on :handbag, :repair_by_date %>
    <% end %>

    <% end %>

        <%= f.field_container :work_details, class: ['form-group'] do %>
      <%= f.label :work_details %>
      <%= f.text_area :work_details, class: ['form-control'] %>      
      <%= error_message_on :handbag, :work_details %>
    <% end %>
        <%= f.field_container :defects, class: ['form-group'] do %>
      <%= f.label :defects %>
      <%= f.text_area :defects, class: ['form-control'] %>      
      <%= error_message_on :handbag, :defects %>
    <% end %>
    <%= f.field_container :make, class: ['form-group'] do %>
      <%= f.label :make %>
      <%= f.text_field :make, class: 'form-control' %>
      <%= error_message_on :handbag, :make %>
    <% end %>
    <%= f.field_container :colour, class: ['form-group'] do %>
      <%= f.label :colour %>
      <%= f.text_field :colour, class: 'form-control' %>
      <%= error_message_on :handbag, :colour %>
    <% end %>
      <%= f.field_container :security_tag, class: ['form-group'] do %>
      <%= f.label :security_tag %>
      <%= f.text_field :security_tag, class: 'form-control' %>
      <%= error_message_on :handbag, :security_tag %>
    <% end %>
      <%= f.field_container :dust_bag, class: ['form-group'] do %>
      <%= f.label :dust_bag %>
      <%= f.text_field :dust_bag, class: 'form-control' %>
      <%= error_message_on :handbag, :dust_bag %>
    <% end %>
      <%= f.field_container :arrival_date, class: ['form-group'] do %>
      <%= f.label :arrival_date %>
      <%= f.text_field :arrival_date, :class => 'datepicker form-control' %>      
      <%= error_message_on :handbag, :arrival_date %>
    <% end %>
      <%= f.field_container :completion_date, class: ['form-group'] do %>
      <%= f.label :completion_date %>
      <%= f.text_field :completion_date, :class => 'datepicker form-control' %>      
      <%= error_message_on :handbag, :completion_date %>
    <% end %>
      <%= f.field_container :agent, class: ['form-group'] do %>
      <%= f.label :agent %>
      <%= f.text_field :agent, class: 'form-control' %>
      <%= error_message_on :handbag, :agent %>
    <% end %>
      <%= f.field_container :price, class: ['form-group'] do %>
      <%= f.label :price %>
      <%= f.number_field :price, :class => 'form-control', :step => 'any' %>      
      <%= error_message_on :handbag, :price %>
    <% end %>
      <%= f.field_container :postage, class: ['form-group'] do %>
      <%= f.label :postage %>
      <%= f.number_field :postage, :class => 'form-control', :step => 'any' %>      
      <%= error_message_on :handbag, :postage %>
    <% end %>
      <%= f.field_container :pictures0, class: ['form-group'] do %>
      <%= f.label "picture" %>
      <%= f.file_field :pictures, multiple: false, accept: 'image/jpeg,image/gif,image/png', :class => 'form-control error' %>
      <%= error_message_on :handbag, :pictures %>
    <% end %>
      <%= f.field_container :pictures1, class: ['form-group'] do %>
      <%= f.label "picture" %>
      <%= f.file_field :pictures, multiple: false, accept: 'image/jpeg,image/gif,image/png', :class => 'form-control error' %>
      <%= error_message_on :handbag, :pictures %>
    <% end %>
      <%= f.field_container :pictures2, class: ['form-group'] do %>
      <%= f.label "picture" %>
      <%= f.file_field :pictures, multiple: false, accept: 'image/jpeg,image/gif,image/png', :class => 'form-control error' %>
      <%= error_message_on :handbag, :pictures %>
    <% end %>
      <%= f.field_container :pictures3, class: ['form-group'] do %>
      <%= f.label "picture" %>
      <%= f.file_field :pictures, multiple: false, accept: 'image/jpeg,image/gif,image/png', :class => 'form-control error' %>
      <%= error_message_on :handbag, :pictures %>
    <% end %>
      <%= f.field_container :pictures4, class: ['form-group'] do %>
      <%= f.label "picture" %>
      <%= f.file_field :pictures, multiple: false, accept: 'image/jpeg,image/gif,image/png', :class => 'form-control error' %>
      <%= error_message_on :handbag, :pictures %>
    <% end %>
      <%= f.field_container :pictures5, class: ['form-group'] do %>
      <%= f.label :pictures %>
      <%= f.file_field :pictures, multiple: false, accept: 'image/jpeg,image/gif,image/png', :class => 'form-control error' %>
      <%= error_message_on :handbag, :pictures %>
    <% end %>
    <a onclick="showField()" id="show_er" href="javascript:void(0);">Add Picture +</a>
    </div>
</div>