<% content_for :page_title do %>
  <%= Spree.t(:handbag) %> ID: <%= @handbag.id %>
<% end %>
<% content_for :page_actions do %>
<% if @handbag.stage != 6 %>
 <%= button_link_to Spree.t(:limbo_bag), move_limbo_admin_handbag_path(@handbag), class: 'btn-warning', icon: 'edit', id: 'admin_limbo_handbag_link', :method => :put, data: { confirm: "Have you added a reason?" } %>
 <% end %>
 <% end if can?(:read, Spree::Handbag) %>

 

<div class="row">
  <div class="col-md-8">

<%= render partial: 'spree/admin/shared/handbag_summary' %>
</div>
<div class="col-md-4">
<% @handbag.pictures.each do |picture| %>
              <a href="<%=picture.url%>">
   <%= image_tag picture.url, :style => "max-width:50%" %>
   </a>
   <% end %>
</div>
</div>

     <% if @microposts.any? %>
        <h3>Posts (<%= @handbag.microposts.count %>)</h3>
<div class="row">
  <div class="col-md-8">

        <ol class="microposts">
          <% @microposts.each do |micropost| %>
             <li id="micropost-<%= micropost.id %>">
              <span class="user"><%= micropost.user.email %></span>
              <span class="content"><%= micropost.content %></span>
              <a href="<%=micropost.picture.url%>">
              <%= image_tag micropost.picture.url, :style => "max-width:100%" if micropost.picture? %>
              </a>
              <span class="timestamp">
                Added <%= time_ago_in_words(micropost.created_at) %> ago.
              </span>
            </li>
          <% end %>
        </ol>
      <%= paginate @microposts %>
    <% end %>
  </div>
    <div class="col-md-4">
<%= form_for(:micropost, :url => admin_microposts_url, html: { multipart: true }) do |f| %>
  <%= render 'spree/shared/error_messages', target: @micropost %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment...", style: 'width:100%' %>
  </div>
   <%= f.hidden_field :handbag_id, :value => @handbag.id %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <span class="picture">
<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>
  </div>

</div>